@(title: String, subtitle: String, user: String, feedKey: String)(implicit request: RequestHeader)


@main("RSSink") {

  <h1>@title <small>@subtitle</small></h1>


  <div data-bind="foreach: messages">
      <div class="message">
        <h3 data-bind="text: title"></h3>
        <span data-bind="text: updated"></span>
        <div data-bind="html: summary"></div>
        <a href="#" data-bind="attr: { href: url }">Entire article</a>
      </div>
  </div>

  <script language="javascript" type="text/javascript">

    var messages = ko.observableArray();

    var viewModel = {
      messages: messages
    };

    ko.applyBindings(viewModel);

    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
    var feedSocket = new WS("@routes.Feeds.feedStream(user, feedKey).webSocketURL()");

    feedSocket.onmessage = function(event) {
      var entry = JSON.parse(event.data);

      // console.log(event);

      // add entry to page
      viewModel.messages.push(entry);

    };
  </script>

}